{% extends 'EmployeesApp/base.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %}Employees {% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'EmployeesApp/bootstrap/css/bootstrap-responsive.min.css' %}">
<link rel="stylesheet" href="{% static 'EmployeesApp/bootstrap/js/bootstrap.min.js' %}">

{% endblock %}


{% block content %}

        <ol class="root">
            {% recursetree employees %}
            <li>
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ node.name }}, {{ node.position }}
                </button>
                {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }} {{ children.position }}
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
        </ol>



{% endblock %}
