{% extends 'EmployeesApp/base.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %}Team {% endblock %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style type="text/css">
.container {
    width: 70%;
}

</style>

{% endblock %}


{% block content %}

<div class='float-right' style="margin-right: 50px; margin-top: 10px">
  <button class="btn btn-outline-dark"><a href="http://127.0.0.1:8000">Hierarchy</a></button>
</div>

<div class="container">
    <input id="search-text" class="form-control" type="text" placeholder="Введите текст для поиска" >
    <table id="myTable" class="table table-bordered table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th onclick="order_table('id')">id</th>
          <th onclick="order_table('name')">Name</th>
          <th onclick="order_table('position')">Position</th>
          <th onclick="order_table('hire_date')">Hire date</th>
          <th onclick="order_table('salary')">Salary</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in page_obj %}
            <tr id="fields">
              <td>{{employee.pk}}</td>
              <td><a href={{employee.get_url}}>{{employee.name}}</a></td>
              <td>{{employee.position}}</td>
              <td>{{employee.hire_date}}</td>
              <td>{{employee.salary}} $</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      <li class="page-item">
          {% if page_obj %}
            <a class="page-link" href="?page=1">&laquo; first</a>
          {% endif %}
      </li>
      <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
    </li>
    <li class="page-item">
        <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    </li>
    <li class="page-item">
        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </li>
      <li>
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      </li>
  </ul>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>window.jQuery || document.write('<script src="path/to/your/jquery"><\/script>')</script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

<script>
var page_number = {{ page_obj.number }}


function order_table(n) {
sort_table(n);
};

function sort_table(n) {
    $.ajax(
    {
        type:"GET",
        url:"team",
        data: {
        order_by:n,
        page_number:page_number,
        },

        success:function(data){
            $("#div_sort").replaceWith(data);
        }

        })

}


</script>



{% endblock %}
